<template>
  <table class="container table table-bordered">
    <thead>
      <tr>
        <th @click="selectSort('libelle')">
          Libelle client
          <i v-if="selectedSort=='libelle' && sortReversed==true" class="fa fa-caret-down"></i>
          <i v-else-if="selectedSort=='libelle' && sortReversed==false" class="fa fa-caret-up"></i>
        </th>
        <th @click="selectSort('ville')">
          Ville client
          <i v-if="selectedSort=='ville' && sortReversed==true" class="fa fa-caret-down"></i>
          <i v-else-if="selectedSort=='ville' && sortReversed==false" class="fa fa-caret-up"></i>
        </th>
        <th @click="selectSort('total')">
          Total commande
          <i v-if="selectedSort=='total' && sortReversed==true" class="fa fa-caret-down"></i>
          <i v-else-if="selectedSort=='total' && sortReversed==false" class="fa fa-caret-up"></i>
          <i
            @click="toggleCommandeVisibility"
            class="fa fa-address-book-o"
            title="show/hide"
          ></i>
        </th>
        <th v-if="commandeVisible">Commandes clientes ( Nom, prix, quantite )</th>
      </tr>
    </thead>

    <tbody>
      <tr v-for="(client, index) in clients" :key="index">
        <th>{{ client.client.label }}</th>
        <td>{{ client.client.city }}</td>
        <td>{{ client.totalPrice }} €</td>
        <td v-if="commandeVisible">
          <table class="table-dark" style="width: 100%">
            <tr v-for="(materiel, indexMateriel) in client.materials" :key="indexMateriel">
              <td>{{ materiel.material.name }}</td>
              <td>{{ materiel.material.price }} €</td>
              <td>{{ materiel.quantity }}</td>
            </tr>
          </table>
        </td>
      </tr>
    </tbody>
    <div class="text-right">Pro Tip: Click on the icon near "Total Command"</div>
  </table>
</template>

<script lang="ts">
import { Vue, Prop, Component } from "vue-property-decorator";
import axios, { AxiosResponse } from "axios";

import Link, { ILinkApi } from "../libs/Link";
import Material, { IMaterialApi } from "../libs/Material";
import Client, { IClientApi } from "../libs/Client";

type numeratedMaterial = {
  quantity: number;
  material: Material;
};

type mappedClient = {
  client: Client;
  totalPrice: number;
  materials: numeratedMaterial[];
};

@Component
export default class ClientDetails extends Vue {
  private rawClients: mappedClient[] = [];
  private commandeVisible = false;
  private sorts = [
    {text: "total", callback: (a: mappedClient, b: mappedClient) => a.totalPrice - b.totalPrice},
    {text: "ville", callback: (a: mappedClient, b:mappedClient) => a.client.city.localeCompare(b.client.city)},
    {text: "libelle", callback: (a: mappedClient, b: mappedClient) => a.client.label.localeCompare(b.client.label)},
  ];
  private selectedSort = "total";
  private sortReversed = true;

  toggleCommandeVisibility() {
    this.commandeVisible = !this.commandeVisible;
  }

  get clients() {
    let c = this.rawClients.sort(
        this.sorts.find(sort => sort.text === this.selectedSort).callback
      );

    if (this.sortReversed) {
      c = c.reverse();
    }
    return c;
  }

  selectSort(sort: string) {
    if (this.selectedSort === sort) {
      this.sortReversed = !this.sortReversed;
    }
    else {
      this.selectedSort = sort;
      this.sortReversed = false;
    }
  }

  async created() {
    const clientPromise = axios.get("http://localhost/api/clients");
    const materialPromise = axios.get("http://localhost/api/materiel");
    const linkPromise = axios.get("http://localhost/api/links");

    let responses: AxiosResponse<any>[];
    try {
      responses = await Promise.all([
        clientPromise,
        materialPromise,
        linkPromise
      ]);
    } catch (error) {
      console.warn(error);
      // To handle
      return;
    }

    for (const response of responses) {
      if (response.status / 100 != 2) {
        console.warn(response);
        // To handle
        return;
      }
    }

    /* Reindex data */
    const links: {
      [clientId: number]: Link[];
    } = responses[2].data.links.reduce((acc: object, link: ILinkApi) => {
      if (!acc[link.idlienClient]) {
        acc[link.idlienClient] = [];
      }
      acc[link.idlienClient].push(Link.fromApi(link));
      return acc;
    }, {}); // Store links by client id

    const materials: {
      [materialId: number]: Material;
    } = responses[1].data.materials.reduce(
      (acc: object, material: IMaterialApi) => {
        acc[material.id] = Material.fromApi(material);
        return acc;
      },
      {}
    ); // Index materials by their id

    /* Create a list of clients that contains a list of their materials */
    this.rawClients = responses[0].data.clients
      .map((client: IClientApi) => Client.fromApi(client))
      .filter((client: Client | Error) => {
        if (client instanceof Error) {
          console.error(client.message);
          return false;
        }
        return true;
      })
      .map((client: Client) => {
        let newMaterials: numeratedMaterial[];

        if (Object.prototype.hasOwnProperty.call(links, client.id)) {
          newMaterials = links[client.id].map(link => {
            return {
              quantity: link.quantity,
              material: materials[link.idMaterial]
            };
          });
        } else {
          newMaterials = [];
        }

        return {
          client,
          materials: newMaterials,
          totalPrice: newMaterials.reduce(
            (acc, material) => acc + material.material.price * material.quantity,
            0
          )
        };
      });
    }
}
</script>
