<template>
  <div class="card bg-dark mb-3" style="width: 260px;">
    <div class="card-header text-light">{{ label }}</div>
    <ul class="list-group">
      <li class="list-group-item">Materiels: {{ quantity }}</li>
      <li class="list-group-item">Prix total: {{ price }} €</li>
    </ul>
  </div>
</template>

<script lang="ts">
import { Vue, Prop, Component } from "vue-property-decorator";

@Component({
  name: "Client"
})
export default class Client extends Vue {
  @Prop() private label!: string;
  @Prop() private price!: number;
  @Prop() private quantity!: number;
}
</script>
