<template>
  <div class="container">
    <p v-if="inputSuccess" class="text-success">Request successfull</p>
    <div class="card">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a
              class="nav-link"
              @click="selectedForm = 'linkForm'"
              v-bind:class="{'active': selectedForm === 'linkForm'}"
            >
              Liens
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              @click="selectedForm = 'materialForm'"
              v-bind:class="{'active': selectedForm === 'materialForm'}"
            >
              Materiel
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              @click="selectedForm = 'clientForm'"
              v-bind:class="{'active': selectedForm === 'clientForm'}"
            >
              Client
            </a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <div v-if="formError.length">
          <b>Ce formulaire contient des erreurs</b>
          <ul>
            <li
              v-for="(error, key) in formError"
              :key="key" class="text-danger"
            >
              Erreur: {{ error }}
            </li>
          </ul>
        </div>

        <form v-if="selectedForm == 'linkForm'" @submit="validateFormLink">
          <div class="form-group">
            <label for="clientInput">Libelle client</label>
            <select
              name="clientInput"
              id="clientInput"
              class="form-control"
              v-model="inputClient"
            >
              <option
                v-for="(client, index) in clients"
                :key="index"
              >
                {{ client.label }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="materialInput">Nom du materiel</label>
            <select
              name="materialInput"
              id="materialInput"
              class="form-control"
              v-model="inputMaterial"
            >
              <option
                v-for="(material, index) in materials"
                :key="index"
              >
                {{ material.name }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="quantite">Quantite</label>
            <input
              type="number"
              v-model="inputQuantity"
              class="form-control"
              placeholder="Quantite de materiel a ajouter"
            />
          </div>
          <button type="submit" class="btn btn-dark">Envoyer</button>
        </form>
        <form v-else-if="selectedForm == 'clientForm'" @submit="validateFormClient">
          <div class="form-group">
            <label for="libelleClient">Libelle</label>
            <input
              type="text"
              name="libelleClient"
              class="form-control"
              v-model="inputLabelClient"
            />
          </div>
          <div class="from-group">
            <label for="adresseClient">Adresse</label>
            <input
              type="text"
              name="adresseClient"
              class="form-control"
              v-model="inputAddresseClient"
            />
          </div>
          <div class="form-group">
            <label for="cpClient">Code Postal</label>
            <input
              type="text"
              name="cpClient"
              class="form-control"
              v-model="inputZipClient"
            />
          </div>
          <div class="form-group">
            <label for="villeClient">Ville</label>
            <input
              type="text"
              name="villeClient"
              class="form-control"
              v-model="inputCityClient"
            /> 
          </div>
          <button type="submit" class="btn btn-dark">Envoyer</button>
        </form>
        <form v-else @submit="validateFormMaterial">
          <div class="form-group">
            <label for="nomMateriel">Nom</label>
            <input
              type="text"
              name="nomMateriel"
              class="form-control"
              v-model="inputNameMaterial"
            />
          </div>
          <div class="form-group">
            <label for="prixMateriel">Prix</label>
            <input
              type="text"
              name="prixMateriel"
              class="form-control"
              v-model="inputPriceMaterial"
            />
          </div>
          <button type="submit" class="btn btn-dark">Envoyer</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import axios from "axios";

import Client, { IClientApi } from "../libs/Client";
import Material, { IMaterialApi } from "../libs/Material";
import Link from "../libs/Link";

@Component
export default class Input extends Vue {
  private clients: Client[] = [];
  private materials: Material[] = [];

  /* Link form's input */
  private inputClient = "";
  private inputMaterial = "";
  private inputQuantity = "0";

  /* Client form's input */
  private inputLabelClient = "";
  private inputAddresseClient = "";
  private inputZipClient = "";
  private inputCityClient = "";

  /* Material form's input */
  private inputNameMaterial = "";
  private inputPriceMaterial = "1";

  private inputSuccess = false;
  private formError: string[] = [];

  private selectedForm = "linkForm";

  async created() {
    const materialsPromise = axios.get("http://localhost/api/materiel");
    const clientsPromise = axios.get("http://localhost/api/clients");

    const [materials, clients] = [await materialsPromise, await clientsPromise];

    if (materials.status < 300) {
      this.materials = materials.data.materials
        .map((material: IMaterialApi) => Material.fromApi(material))
        .filter((material: Material | Error) => {
          if (material instanceof Error) {
            console.error(material);
            return false;
          }
          return true;
        });
    } else {
      console.warn(
        `Could not retrieve materials, status == ${materials.status}`
      );
    }
    if (clients.status < 300) {
      this.clients = clients.data.clients
        .map((client: IClientApi) => Client.fromApi(client))
        .filter((client: Client | Error) => {
          if (client instanceof Error) {
            console.error(client.message);
            return false;
          }
          return true;
        });
    } else {
      console.warn(`Could not retrieve clients, status == ${clients.status}`);
    }
  }

  async sendRequest(url: string, data: object) {
    const request = await axios.post(url, data);

    if (request.status > 300) {
      this.inputSuccess = false;

      this.formError.push(
        `Request to ${url} failed with code ${request.status} ${request.statusText}`
      );
    } else {
      this.inputSuccess = true;
    }
  }

  validateFilters(filters: (() => void)[]): boolean {
    this.formError = [];

    for (const filter of filters) {
      filter();
    }
    return this.formError.length === 0;
  }

  validateFormLink(e) {
    e.preventDefault();

    /* Filters to apply to this form before submitting it */
    const filters = [
      () => {
        /* Check if inputQuantity is a valid number */
        const quantity = parseInt(this.inputQuantity);
        if (!Number.isInteger(quantity) || quantity < 0) {
          this.formError.push("Field quantity must be a valid integer");
        }
      },
      () => {
        /* Check if inputClient is a known client */
        for (const client of this.clients) {
          if (client.label === this.inputClient) {
            return;
          }
        }
        this.formError.push(`Client ${this.inputClient} is not known`);
      },
      () => {
        /* check if inputMaterial is a known material */
        for (const material of this.materials) {
          if (material.name === this.inputMaterial) {
            return true;
          }
        }
        this.formError.push(`Material ${this.inputMaterial} is not known`);
      }
    ];

    if (this.validateFilters(filters)) {
      this.sendRequest(
        "http://localhost/api/link",
        {
          libelleClient: this.inputClient,
          nomMateriel: this.inputMaterial,
          quantite: this.inputQuantity
        }
      );
    }
  }

  validateFormClient(e) {
    e.preventDefault();

    const filters = [
      () => {
        if (this.inputLabelClient.length < 1) {
          this.formError.push("Field label must not be empty");
          return false;
        }
        return true;
      },
      () => {
        if (this.inputAddresseClient.length < 1) {
          this.formError.push("Field adresse must not be empty");
          return false;
        }
        return true;
      },
      () => {
        const zip = parseInt(this.inputZipClient);
        if (this.inputZipClient.length != 5 || !Number.isInteger(zip) || zip < 0) {
          this.formError.push("The zip must be a valid french zip");
          return false;
        }
        return true;
      },
      () => {
        if (this.inputCityClient.length < 1) {
          this.formError.push("Field city must not be empty");
          return false;
        }
        return true;
      },
    ];

    if (this.validateFilters(filters)) {
      this.sendRequest(
        "http://localhost/api/clients",
        new Client(
          this.inputLabelClient,
          this.inputAddresseClient,
          this.inputZipClient,
          this.inputCityClient
        ).toApi()
      );
    }
  }

  validateFormMaterial(e) {
    e.preventDefault();

    const filters = [
      () => {
        if (this.inputNameMaterial.length < 1) {
          this.formError.push("Field name must not be empty");
          return false;
        }
        return true;
      },
      () => {
        const price = parseInt(this.inputPriceMaterial);

        if (!Number.isInteger(price) || price <= 0) {
          this.formError.push("Field price must be a valid positiv integer");
          return false;
        }
        return true;
      },
    ];

    if (this.validateFilters(filters)) {
      this.sendRequest(
        "http://localhost/api/materiel",
        new Material(
          this.inputNameMaterial,
          parseInt(this.inputPriceMaterial)
        ).toApi()
      );
    }
  }
}
</script>
