<template>
  <div class="container">
    <div><i class="fa fa-address-card"></i><i>Clients worth more than 30.000 ordered by values</i></div>
    <div class="row">
      <div class="col-sm" v-for="(client, index) in clients" :key="index">
          <Client
            v-bind:label="client.libelleClient"
            v-bind:price="client.prixTotal"
            v-bind:quantity="client.quantiteTotal"
            />
      </div>
    </div>
  </div>
</template>

<script lang="ts">

import { Component, Vue, Prop } from "vue-property-decorator";
import axios from "axios";
import Client from "./Client.vue";

@Component({
  name: 'Main',
  components: {
    Client
  }
})

export default class Main extends Vue {
  private clients: any[] = [];

  async created() {
      const response = await axios.get("http://localhost/api/links/sorted");

      if (response.status === 200) {
        this.clients = response.data.links;
      }
  }
}

</script>
