<template>
  <div id="app">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="  margin-bottom: 40px;">
      <router-link class="navbar-brand" to="#">ShowTime</router-link>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <router-link to="/" class="nav-link">Home <span class="sr-only">(current)</span></router-link>
          </li>
          <li class="nav-item active">
            <router-link to="/input" class="nav-link">Saisie <span class="sr-only">(current)</span></router-link>
          </li>
          <li class="nav-item active">
            <router-link to="/client-details" class="nav-link">Clients <span class="sr-only">(current)</span></router-link>
          </li>
        </ul>
      </div>
    </nav>

    <router-view class="view"></router-view>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

import Main from "./components/Main.vue";

@Component({
  components: {
    Main
  }
})
export default class App extends Vue {}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
